

/*License: MIT*/
/*Original author: Joe M*/
/*400766f8f9b4b14f38b5a318bf221b6d2d6794e39adda29f6158da0ef807aa0bf7951380636354f43b9a43cb8620b9243216a44ccdd6dca1af576b4c0448049d*/

:root {
  --main-accent: lightblue;
  --secondary-accent: rgb(79, 107, 197);
  --gray-color: rgba(20%, 20%, 20%, 50%);
  --highlight-color: rgba(255, 255, 0, 50%);
  --icode-background: rgba(0, 0, 0, 5%);
  --radiation-color: green;
  --hypothesis-bg-color: rgb(241, 249, 255);
  --error-bg-color: lightpink;
  --quote-prefix:
  "qu";
  --powerful-font: Georgia;
}


.btc-error {
  color: red;
  border: 1px solid red;
}

.clickable {
  cursor: pointer;
}

/* Individual */

.btc-styler.bold {
  font-weight: bold;
}

.btc-styler.italic {
  font-style: italic;
}


.btc-styler.highlight {
  background: var(--highlight-color)
}

.btc-styler.tiny {
  font-size: smaller;
}
.btc-styler.small {
  font-size: small;
}
.btc-styler.big {
  font-size: large;
}
.btc-styler.huge {
  font-size: larger;
}

.btc-styler.centered {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.btc-styler.pre {
  white-space: pre-wrap;
}

.btc-styler.icode {
  white-space: pre-wrap;
  font-family: monospace;
  background: var(--icode-background);
}

.btc-styler.code {
  background: var(--icode-background);
  margin-bottom: 0;
}

.btc-styler.strobe {
  animation: strobecolor 0.75s infinite;
}
@keyframes strobecolor {
  0% {color:black;}
  50% {color:lightgray;}
  100% {color:black;}
}

.btc-styler.spoiler {
  background: black;
  transition: background ease 0.5s;
}
.btc-styler.spoiler:hover {
  background: unset;
  transition: background ease 0.5s;
}

.btc-styler.spoiler:not(:hover) > * {
  visibility: hidden !important
}
.btc-styler.spoiler:hover > * {
  visibility: unset
}

.btc-styler.lowvis {
  opacity: 50%
}

.btc-styler.strikeout {
  text-decoration: line-through solid var(--gray-color) 3px;
}
.btc-styler.strikeout:hover {
  text-decoration: unset;
}

.btc-styler.underline {
  text-decoration: underline solid var(--gray-color) 2px;
  text-underline-offset: 20%;
  /* border-bottom: solid 3px var(--gray-color); */
}

.btc-styler.rainbow {
  animation: rainbow-color 1s linear infinite
}
@keyframes rainbow-color {
  0%    {color: red}
  14%   {color: orange}
  29%   {color: yellow}
  43%   {color: green}
  57%   {color: blue}
  71%   {color: indigo}
  86%   {color: violet}
  100%  {color: red}
}
@keyframes rainbow-background {
  0%    {background: red}
  14%   {background: orange}
  29%   {background: yellow}
  43%   {background: green}
  57%   {background: blue}
  71%   {background: indigo}
  86%   {background: violet}
  100%  {background: red}
}
@keyframes rainbow-border {
  0%    {border-color: red}
  14%   {border-color: orange}
  29%   {border-color: yellow}
  43%   {border-color: green}
  57%   {border-color: blue}
  71%   {border-color: indigo}
  86%   {border-color: violet}
  100%  {border-color: red}
}

.btc-styler.pulse {
  animation: pulse-size 1s infinite;
  display: inline-block;
  width: max-content;
  max-width: 82%;
}
@keyframes pulse-size {
  0%   {scale: 1.0 }
  25%  {scale: 1.0 }
  50%  {scale: 1.2 }
  70%  {scale: 1.1 }
  80%  {scale: 1.21 }
  100% {scale: 1.0 }
}

.btc-styler.mirror {
  transform: scaleY(-1);
  display: inline-block;
  width: max-content;
  max-width: 99%
}

.btc-styler.reverse {
  transform: scaleX(-1);
  display: inline-block;
  width: max-content;
  max-width: 99%;
}

.btc-styler.blurry {
  filter: blur(0.1em);
  overflow-x: hidden;
}

.btc-styler.bubble {
  border: 2px solid var(--main-accent);
  border-radius: 0.8em;
}

.btc-styler.powerful {
  font-family: var(--powerful-font);
  font-style: italic;
  background: cornsilk;
  text-shadow: 2px 2px 0px var(--gray-color);
}

.btc-styler.radioactive {
  text-shadow: 0px 0px 2px var(--radiation-color);
}

.btc-styler.error {
  text-decoration: red wavy underline;
}

.btc-styler.header1, .btc-styler.header2, .btc-styler.header3, .btc-styler.header4 {
  display: block
}
.btc-styler.header1 {
  font-size: 2em
}
.btc-styler.header2 {
  font-size: 1.75em
}
.btc-styler.header3 {
  font-size: 1.5em
}
.btc-styler.header4 {
  font-size: 1.25em
}

.btc-styler.quote {
  color: lightcoral
}
.btc-styler.quote::before {
  content: var(--quote-prefix);
  font-weight: bold;
  opacity: 50%;
  font-size: 0.5em;
  vertical-align: super;
}

.btc-styler.blockquote {
  color: lightcoral;
  display: block;
  margin-left: 1em
}
.btc-styler.blockquote::before {
  content: var(--quote-prefix);
  font-weight: bold;
  opacity: 50%;
  font-size: 0.5em;
  width: 0px;
  position: absolute;
  left: 1em
}

.btc-styler.hypothesis {
  display: block;
  margin-left: 1em;
  border: 1px dashed var(--main-accent);
  border-radius: 0px 8px 8px 0px;
  background: var(--hypothesis-bg-color);
  max-width: fit-content;
  border-left: 2px solid blue;
  padding-right: 1em;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0.5em;
}

.btc-styler.expandable:not(.expanded) > :first-child::after {
  content: "...";
  color: var(--gray-color)
}
.btc-styler.expandable:not(.expanded) > .content {
  display: none;
}
.btc-styler.expandable > .bracket {
  color: var(--gray-color);
}

.btc-styler.separator {
  display: block;
  margin: auto;
  margin-top: 1em;
  width: 80%;
  height: 0;
  border: 1px solid var(--main-accent)
}

.btc-styler.tooltip {
  display: inline-block;
  /* vertical-align: bottom; */
}
.btc-styler.tooltip::after {
  content: "tt";
  font-size: 0.5em;
  top: -1em;
  position: relative;
  color: var(--gray-color)
}
.btc-styler.tooltip:hover > .tooltip-message {
  visibility: visible;
}
.btc-styler.tooltip > .tooltip-message {
  visibility: hidden;
  position: absolute;
}
.btc-styler.tooltip > .tooltip-message > * {
  position: absolute;
  background: white;
  border: 1px solid var(--main-accent);
  padding: 0.2em;
  z-index: 1000;
  top: 1.5em;
  width: max-content;
  max-width: 60vw;
}

.btc-styler.displaymath {
  display: block;
  font-size: 1.2em;
}
.btc-styler.displaymath::after {
  content: "(" attr(data-mathrefindex) ")";
  color: var(--gray-color);
  font-size: 0.6em;
  display: inline-block;
  width: min-content;
  position: relative;
  top: -4em;
  left: 90%;
  width: 0;
  height: 0;
}

.btc-styler.img {
  display: block;
}
.btc-styler.charimg {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.btc-styler.expoverlay {
  display: inline-block;
  /* vertical-align: bottom; */
}
.btc-styler.expoverlay > .expoverlay-button {
  cursor: pointer;
}
.btc-styler.expoverlay:not(.expanded) > .expoverlay-button::after {
  /* content: '\1F675 '; */
  content: '\1F674';
  border: 1px solid var(--gray-color);
  color: var(--gray-color);
}
.btc-styler.expoverlay.expanded > .expoverlay-button::after {
  /* content: '\1F675'; */
  content: '\1F674';
  border: 1px solid var(--gray-color);
  box-shadow: 0px 0px 4px var(--gray-color);
  color: var(--gray-color);
}
.btc-styler.expoverlay.expanded > .expoverlay-message {
  visibility: visible;
}
.btc-styler.expoverlay > .expoverlay-message {
  visibility: hidden;
  position: absolute;
}
.btc-styler.expoverlay > .expoverlay-message > * {
  position: absolute;
  background: white;
  border: 1px solid var(--main-accent);
  padding: 0.2em;
  z-index: 1000;
  width: max-content;
  max-width: 60vw;
}

.btc-styler.wavy > i {
  display: inline-block;
}
.btc-styler.wavy > i.n-5 { transform: translateY(-5px);}
.btc-styler.wavy > i.n-4 { transform: translateY(-4px) }
.btc-styler.wavy > i.n-3 { transform: translateY(-3px) }
.btc-styler.wavy > i.n-2 { transform: translateY(-2px) }
.btc-styler.wavy > i.n-1 { transform: translateY(-1px) }
.btc-styler.wavy > i.n0  { transform: translateY( 0px) }
.btc-styler.wavy > i.n1  { transform: translateY( 1px) }
.btc-styler.wavy > i.n2  { transform: translateY( 2px) }
.btc-styler.wavy > i.n3  { transform: translateY( 3px) }
.btc-styler.wavy > i.n4  { transform: translateY( 4px) }
.btc-styler.wavy > i.n5  { transform: translateY( 5px) }

.btc-styler.chaotic > i {
  position: relative
}

.btc-styler.scrollbox {
  display: block;
  width: 95%;
  height: 8em;
  margin: auto;
  border-top:    1px solid var(--main-accent);
  border-bottom: 1px solid var(--main-accent);
  border-left:   3px solid var(--main-accent);
  border-right:  3px solid var(--main-accent);
  resize: vertical;
  overflow-x: hidden;
  max-height: 32em;
  overflow-y: scroll;
  margin-bottom: 1em;
  margin-top: 1em;
}

.btc-styler.tabs {
  display: block;
  border: 1px solid var(--main-accent);
  width: 95%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2px;
}
.btc-styler > .tabs-bar {
  display: block;
  border-bottom: 1px solid var(--main-accent)
}
.btc-styler > .tabs-bar > .tab-button {
  border: 1px solid var(--main-accent);
  cursor: pointer
}
.btc-styler > .tabs-bar > .tab-button.active-tab {
  box-shadow: 0px 0px 4px var(--gray-color);
}
.btc-styler > .tabs-bar > .tab-button + .tab-button {
  margin-left: 1em
}
.btc-styler > .tab:not(.active-tab) {
  display: none
}

/* Combinations */

.btc-styler.rainbow.hypothesis {
  animation: rainbow-background 1.5s linear infinite;
}
.btc-styler.rainbow.spoiler {
  animation: rainbow-background 1.5s linear infinite;
}
.btc-styler.rainbow.bubble {
  animation: rainbow-border 1s linear infinite;
}
.btc-styler.rainbow.powerful {
  animation: rainbow-powerful-shadow 1s linear infinite;
}
@keyframes rainbow-powerful-shadow {
  0%    {text-shadow: 2px 2px 2px red}
  14%   {text-shadow: 2px 2px 2px orange}
  29%   {text-shadow: 2px 2px 2px yellow}
  43%   {text-shadow: 2px 2px 2px green}
  57%   {text-shadow: 2px 2px 2px blue}
  71%   {text-shadow: 2px 2px 2px indigo}
  86%   {text-shadow: 2px 2px 2px violet}
  100%  {text-shadow: 2px 2px 2px red}
}
.btc-styler.bubble.hypothesis {
  border-radius: 1em
}
.btc-styler.radioactive.hypothesis {
  box-shadow: 0px 0px 8px var(--radiation-color)
}

.btc-styler.bold.hypothesis {
  border-width: 4px
}

.btc-styler.bold.spoiler {
  border: 4px solid black
}
.btc-styler.bold.spoiler:hover {
  border: unset
}

.btc-styler.error.hypothesis {
  text-decoration: unset;
  border: 2px dashed red;
  border-left: 3px solid red;
  background: var(--error-bg-color);
}

.btc-styler.img.bold {
  border: 3px solid black
}
.btc-styler.charimg.bold {
  border: 2px solid black
}

.btc-styler.img.italic {
  --web: skewX(45)
}
.btc-styler.img.spoiler {
  background: black; 
}